body {
    background-color: rgb(24, 22, 22);
}

#transparent-bar {
    background-color: #423d3d;
    width: 100%;
    height: 50px;
}

#bar1 {
    background-color: white;
    margin-top: -28px;
    margin-left: 30px;
    width: 15px;
    height: 3px;
}

#bar2 {
    background-color: white;
    margin-top: 2px;
    margin-left: 30px;
    width: 15px;
    height: 3px;
}

#bar3 {
    background-color: white;
    margin-top: 2px;
    margin-left: 30px;
    width: 15px;
    height: 3px;
}

#red-square {
    position: relative;
    width: 25px;
    height: auto;
    margin-left: 75px;
    top: -18px;
}

#youtube-text {
    font-family: Roboto, Arial, sans-serif;
    color: white;
    margin-top: -44px;
    margin-left: 102px;
}

#search-box {
    position: relative;
    resize: none;
    height: 30px;
    background-color: black;
    color: gray;
    margin-left: 370px;
    top: -45px;
    border: thin;
}

#glass-box {
    position: relative;
    background-color: rgb(105, 101, 101);
    width: 45px;
    height: 30px;
    margin-left: 890px;
    margin-top: -76px;
}

#magnifying-glass {
    position: relative;
    width: 20px;
    height: auto;
    top: -25px;
    margin-left: 903px;
}

#create {
    position: relative;
    width: 25px;
    height: auto;
    margin-left: 1205px;
    top: -50px;
}

#apps {
    position: relative;
    width: 28px;
    height: auto;
    margin-left: 1260px;
    top: -80px;
}

#notifications {
    position: relative;
    width: 30px;
    height: auto;
    margin-left: 20px;
    top: -80px;
}

#profile {
    position: relative;
    width: 35px;
    height: auto;
    margin-left: 15px;
    top: -80px;
}

#video {
    position: relative;
    top: -50px;
}

#next {
    color: white;
    text-align: right;
    margin-top: -530px;
    margin-right: 335px;
}

#autoplay {
    color: rgb(143, 132, 132);
    text-align: right;
    margin-top: -35px;
    margin-right: 155px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-left: 1285px;
    top: -30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    bottom: -4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

#thumbnails {
    margin-left: 1010px;
}

h5 {
    position: relative;
    text-align: center;
    color: white;
    right: 480px;
    top: -200px;
}

#views {
    position: relative;
    color: white;
    top: -200px;
    font-size: 12px;
    opacity: 50%;
}

#thumbs-up {
    position: relative;
    width: 20px;
    left: 620px;
    bottom: 225px;
}

#num-Likes {
    color: white;
    font-size: 12px;
    position: relative;
    left: 650px;
    top: -255px;
}

#thumbs-down {
    position: relative;
    width: 20px;
    left: 700px;
    top: -285px;
}

#num-Dislikes {
    position: relative;
    color: white;
    font-size: 12px;
    left: 730px;
    top: -317px;
}

#share {
    position: relative;
    width: 30px;
    left: 770px;
    top: -350px;
}

#share-text {
    color: white;
    position: relative;
    font-size: 12px;
    left: 800px;
    top: -385px;
}

#save {
    position: relative;
    width: 22px;
    left: 860px;
    top: -417px;
}

#save-text {
    color: white;
    position: relative;
    left: 890px;
    top: -455px;
}

#options {
    position: relative;
    width: 22px;
    left: 950px;
    top: -492px;
}

#line1 {
    position: relative;
    border-top: 1px solid rgb(78, 75, 75);
    width: 1014px;
    top: -450px;
}

#name {
    color: white;
    position: relative;
    top: -440px;
    left: 80px;
    font-size: 14px;
}

#user-profile {
    position: relative;
    width: 60px;
    top: -480px;
}

#subscribers {
    color: white;
    position: relative;
    font-size: 11px;
    opacity: 50%;
    top: -520px;
    left: 80px;
}

#description {
    color: white;
    position: relative;
    font-size: 13px;
    top: -500px;
    left: 80px;
}

#join {
    position: relative;
    left: 780px;
    top: -610px;
    background-color: rgb(24, 22, 22);
    border-color: #2196F3;
    color: #2196F3;
    padding: 6px 12px;
    font-size: 14px;
}

#subscribed {
    position: relative;
    left: 790px;
    top: -610px;
    background-color: #423d3d;
    border: none;
    border-radius: 3px;
    color: rgb(180, 175, 175);
    padding: 8px 4px;
    font-size: 14px;
}

#channel-notification {
    position: relative;
    width: 35px;
    left: 800px;
    top: -598px;
}

#show-more {
    color: white;
    position: relative;
    top: -500px;
    left: 80px;
    font-size: 11px;
    opacity: 65%;
}

#line2 {
    position: relative;
    border-top: 1px solid rgb(78, 75, 75);
    width: 1014px;
    top: -490px;
}

#num-of-comments {
    color: white;
    font-size: 14px;
    position: relative;
    left: 20px;
    top: -480px;
}

#sort-by {
    width: 25px;
    position: relative;
    left: 220px;
    top: -515px;
}

#sort {
    color: white;
    font-size: 12px;
    position: relative;
    left: 260px;
    top: -550px;
    opacity: 50%;
}

#type-comment {
    position: relative;
    background-color: #423d3d;
    border: none;
    resize: none;
    top: -560px;
    left: 220px;
}

#my-profile {
    width: 50px;
    position: relative;
    left: -760px;
    top: -545px;
}

#user1-pic {
    width: 50px;
    position: relative;
    left: -815px;
    top: -430px;
}

#user-1 {
    color: white;
    position: relative;
    top: -500px;
    left: 218px;
    opacity: 70%;
}

#user-1-time {
    color: white;
    font-size: 12px;
    position: relative;
    left: 300px;
    top: -533px;
    opacity: 50%;
}

#user1-comment {
    color: white;
    position: relative;
    font-size: 14px;
    top: -530px;
    left: 217px;
}

#user2-pic {
    width: 50px;
    position: relative;
    left: 38px;
    top: -450px;
}

 #user-2 {
    color: white;
    position: relative;
    top: -515px;
    left: 218px;
    opacity: 70%;
}

#user-2-time {
    color: white;
    font-size: 12px;
    position: relative;
    left: 300px;
    top: -547px;
    opacity: 50%;
}

#user2-comment {
    color: white;
    position: relative;
    font-size: 14px;
    top: -530px;
    left: 217px;
}

#user3-pic {
    width: 50px;
    position: relative;
    top: -460px;
    left: 38px;
}

#user-3 {
    color: white;
    position: relative;
    top: -520px;
    left: 218px;
    opacity: 70%;
}

#user-3-time {
    color: white;
    font-size: 12px;
    position: relative;
    left: 300px;
    top: -552px;
    opacity: 50%;
}

#user3-comment {
    color: white;
    position: relative;
    font-size: 14px;
    top: -530px;
    left: 217px;
} 